header.header
    //- .만 쓰면 기본적으로 div로 생성이 됨
    .header__column 
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(text="text", placeholder="Search by term..", name ="term")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In