.social-login
    a(href=routes.github)
        button.social-login__github
            span
                i.fab.fa-github
                |  Continue with Github
    a(href=routes.kakao)
        button.social-login__kakao
            span
                i.fas.fa-comment
                |  Continue with Kakao