doctype html
html
  head
    //- <meta http-equiv="Content-Security-Policy" content="default-src https://cdnjs.cloudflare.com/; child-src 'none'; object-src 'none'">
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous")
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="/static/styles.css")
    link(rel="shortcut icon" href="https://www.youtube.com/s/desktop/ba104690/img/favicon.ico" type="image/x-icon")
  body
    include ../partials/header
    main
      block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js")
    script(src="/static/main.js")
