.videoBlock {
    position: relative;
    padding: 5px 0;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.2s ease-in-out;
    a {
        .videoBlock__curtain {
            position: absolute;
            width: 240px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 50px;
                z-index: 2;
                color: rgb(255, 255, 255, 0.7);
            }
        }
        .videoBlock__poster {
            position: relative;
            width: 240px;
            height: 140px;
            margin-bottom: 5px;
            object-fit: cover;
        }
        .videoBlock__title {
            font-size: 15px;
            color: black;
            padding: 5px;
            margin-bottom: 10px;
            max-width: 240px;
            line-height: 18px;
            overflow: hidden; // 넘치는 부분 표시 안함
            white-space: nowrap; // 공백 입력 무시
            text-overflow: ellipsis; // 영역 벗어나면 점 표시
            box-sizing: border-box;
        }
    }
    .videoBlock__views {
        position: relative;
        bottom: 10px;
        padding: 5px;
        font-size: 13px;
        box-sizing: border-box;
    }
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02), 0 3px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
}