.videoPlayer {
  position: relative;
  video {
    width: 100%;
  }
  i {
    color: white;
    font-size: 15px;
  }
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
      transform: translateY(-5px);
    }
  }
  .videoPlayer__controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 95%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  i {
    transition: all 0.1s ease-in-out;
  }
  i:active {
    color: tomato;
  }
  i:hover {
    transform: scale(1.5);
  }
  .videoPlayer__playTime {
    flex: auto;
    padding: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
    .videoPlayer_timeRange {
      display: block;
      width: 100%;
      height: 6px;
      margin: 5px 5px 5px 0px;
      border-radius: 3px;
    }
    .videoPlayer__timeText {
      margin-left: 5px;
      color: white;
      white-space: nowrap;
    }
  }
  .videoPlayer__volumeRange {
    position: absolute;
    transform: rotate(-90deg);
    right: 45px;
    bottom: 65px;
    overflow: hidden; // 슬라이더가 완전히 채워지고 사라지기 위해 필요
    // -webkit-appearance: none;
    input {
      margin: 10px;
      width: 50px;
      height: 5px;
    }
  }
  .videoPlayer__play,
  .videoPlayer__volumeButton,
  .videoPlayer__expand {
    width: 15px;
    padding: 18px;
  }
}
