extends layouts/main

block content
    .form__container
        img.header__logo(src='/build/resources/icon_big.png')
        .heaer__title
            i.fas.fa-sign-in-alt
            span Welcom to NicoTube
        form(action=routes.login, method="post")
            label(for="email") Email
            input(type="email" name="email" placeholder="Write here..")
            label(for="password") Password
            input(type="password" name="password" placeholder="Write here..")
            input(type="submit" value="Log In")
        include partials/socialLogin
