mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video()
            source(src=`/${video.videoFileUrl}` type="video/mp4")
        .videoPlayer__controls
            .videoPlayer__play#jsPlayButton
                i.fas.fa-play
            .videoPlayer__playTime
                input.videoPlayer_timeRange#jsTimeRange(type="range" mix=0, max=1, step=0.001, value=0,)
                span.videoPlayer__timeText
                    span#jsCurrentTime 00:00:00
                    |⠀/⠀
                    span#jsTotalTime 00:00:00
            .videoPlayer__volumeButton#jsVolumeButton
                i.fas.fa-volume-up
            .videoPlayer__volumeRange
                input#jsVolumeRange(type="range", min=0, max=1, step=0.1 value=0.5)
            .videoPlayer__expand#jsFullScreen
                i.fas.fa-expand

        //- .video__player
        //-         video(controls=true width="800px" poster=video.posterFile autoplay)
        //-             source(src=`/${video.videoFileUrl}` type="video/mp4")