.home-menu
    ul.home-menu__main
        li.home-menu__item
            i.fas.fa-home
            span 홈     
        li.home-menu__item
            i.fas.fa-fire
            span 인기
        li.home-menu__item
            i.fas.fa-photo-video
            span 구독
    .seperator
    ul.home-menu__private
        li.home-menu__item
            i.fas.fa-archive
            span 보관함
        li.home-menu__item
            i.fas.fa-history
            span 시청 기록
        li.home-menu__item
            i.fas.fa-clock
            span 나중에 볼 동영상
        li.home-menu__item
            i.fas.fa-thumbs-up
            span 좋아요 표시한 동영상
    .seperator
    h3.home-menu__title 구독
    ul.home-menu__subcription
        li.home-menu__item
            img(src="https://nomadcoders.co/m.svg")
            span 노마드 코더 Nomad Coders asda asda
        li.home-menu__item
            i.fas.fa-plus-circle
            span 채널 탐색
    .seperator
    h3.home-menu__title YOUTUBE 더보기
    ul.home-menu__see-more
        li.home-menu__item
            i.fab.fa-youtube
            span YouTube Premium
        li.home-menu__item
            i.fas.fa-film
            span 영화
        li.home-menu__item
            i.fas.fa-gamepad
            span 게임
        li.home-menu__item
            i.fas.fa-satellite-dish
            span 실시간
        li.home-menu__item
            i.fas.fa-lightbulb
            span 학습
    .seperator
    ul.home-menu__settings
        li.home-menu__item
            i.fas.fa-cog
            span 설정
        li.home-menu__item
            i.fas.fa-cog
            span 신고 기록
        li.home-menu__item
            i.fas.fa-question-circle
            span 고객 센터
        li.home-menu__item
            i.fas.fa-exclamation-circle
            span 의견 보내기